<!DOCTYPE html>
<html>
<head>
   <% include partials/template/head.ejs%>
    <title> <%= title %></title>
</head>

<body>
    <!--Navigation Section-->
    <% include partials/template/navigation.ejs %>

    <!--Header Section-->
    <%include partials/template/header.ejs %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <%include partials/template/footer.ejs%>

    <%include partials/template/jsdefault.ejs%>
</body>
</html>
