<footer id ="footer">

    <div class="container">

        <div class="row">
            <div class="col-md-12 col-xs-12">
                <p> Connect Me
                    <a href="https://github.com/ankushkawanpure/"><i class="fa fa-github-square fa-2x color-github"></i></a>
                    <a href="https://www.linkedin.com/in/ankush-kawanpure-06267848"><i class="fa fa-linkedin-square fa-2x color-linkedin"></i></a>
                    <a href="https://www.facebook.com/ankushkawanpure"><i class="fa fa-facebook-square fa-2x color-facebook"></i></a>
                    <a href="https://twitter.com/ankushkawanpure"><i class="fa fa-twitter-square fa-2x color-twitter"></i></a>
                    <a href="mailto:aak3988@rit.edu"><i class="fa fa-google-plus-square fa-2x color-google-plus"></i></a>
                </p>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <p> &copy; 2016 ankushkawanpure.com | All Rights Reserved </p>
            </div>
        </div>


    </div>

</footer>
