<header id="header">
    <div class="container main-top-margin main-low-margin">
        <div class="row centered">
            <div class="col-md-8 col-md-offset-2"></div>
            <img src="images/namelogo.png" alt="Myname" id = "myname">
            <br/>
            <br/>
            <br/>
            <h2> Software Engineer / Web Developer </h2>
            <br/>
            <a class = "bounce page-scroll" href="#about"> <i class="fa fa-angle-double-down fa-5x-down-icon" id = "down-icon"> </i> </a>
        </div>

    </div>
</header>