<nav class="navbar navbar-inverse navbar-fixed-top">

    <div class="container" >

        <div class="navbar-header">

            <button type = "button" class="navbar-toggle" data-toggle="collapse" data-target ="#collapsemenu" aria-expanded="false">
                <span class="sr-only"> Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand page-scroll" href="#page-top">ANKUSH KAWANPURE</a>
        </div>


        <div class="navbar-collapse collapse" id = "collapsemenu">
            <ul class="nav navbar-nav navbar-right">
                <li> <a class="page-scroll" href="#page-top">HOME</a></li>
                <li> <a class="page-scroll" href="#about">ABOUT </a></li>
                <li> <a class="page-scroll" href="./work/index.html">MY-WORK </a></li>
                <li> <a class="page-scroll" href="#contact">CONTACT</a></li>
            </ul>
        </div>

    </div>

</nav>
